# Ignore Visual Studio artifacts

## User specific files
*.user
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
.nuget.props
.nuget.targets
project.lock.json
project.assets.json

## Build results
[Dd]ebug/
[Rr]elease/
x86/

## Caches
.vs/
